<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

  <h2> The Credit Card Balance Transfer Calculator
  </h2>
  <div text-center>
  <img src="https://cdn.jsdelivr.net/gh/jesn-park17/ionic-jksowh@master/0_Screen-Shot-2020-12-30-at-085327.png">
  </div>

  <p>
    This calculator aims to consolidate all other credit card balances and pay in fixed installments for <b> up to 24 months! </b>
    
  </p>
  <p><b><u>
    It is extremely easy to use! All you got to do is to follow this simple instructions below: </u></b></p>

    <p>
    1. Input your balance transfer amount </p>
    <p>
    2. Select the payment term you wish to know more. </p>
    <p>
    3. Click the "Compute" button to know the necessary details. 
    </p>

  <ion-item>
  <ion-label><h5> Balance Transfer Amount (P): </h5></ion-label>
  <ion-input type="number" min="0" max="infinity" [(ngModel)]="balance"></ion-input>
  </ion-item>

  <ion-item>
  <ion-label> <h5> Payment Term: </h5></ion-label>
  <ion-input type="number" min="6" max="24" step="6" [(ngModel)]="term"></ion-input>
  </ion-item>

  <button ion-button color="dark" (click)="compute()">Compute</button>

  <br /><br />
    <ion-item *ngIf="totalinterest">
      <h3> Total interest payable: {{totalinterest | currency: '&#8369;'}} </h3>
  </ion-item>

  <ion-item *ngIf="monthpay">
      <h3> Total monthly payment: {{monthpay | currency: '&#8369;'}} </h3>
  </ion-item>

  <ion-item *ngIf="totalamount">
      <h3> Total amount payable {{totalamount | currency: '&#8369;'}} </h3>
  </ion-item>

</ion-content>
